body, html {
 height: 100%;   
}

main {
width: 400px;
height: 260px;
background-color: red;
font-family: Helvetica, sans-serif;
text-align: center;
color: white;
border-radius: 15px;
}

body {
    background-color: navy;
}

p {
margin: 0;
}

section {
background-color: white;
color: black;
font-family: Trattatello, fantasy;
height: 110px;
font-size: 3em;
}

.big {
font-size: 4em;
font-weight: 800;
text-transform: uppercase;
}

.my-name-is {
font-size: 2em;
font-variant: small-caps;
font-weight: 800;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}